.login-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.login-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;
}

.header {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;

  &__content {
    display: flex;
    align-items: center;

    &-icon {
      background: linear-gradient(45deg, #ff512f, #dd2476);
      color: white;
      border-radius: 8px;
      padding: 0.5rem 0.5rem 0.2rem 0.5rem;
      margin-right: 0.5rem;
    }

    &-text {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}

.link-container {
  text-align: right;
  margin-top: 0.5rem;

  a {
    color: #3f51b5;
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
