<mat-toolbar color="primary" class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="navbar__logo" (click)="navigateTo('/')">
    <div class="navbar__logo-icon">
      <mat-icon>fitness_center</mat-icon>
    </div>
    <span class="navbar__logo-text">FitZone</span>
  </div>

  <div class="navbar__links hide-on-mobile">
    @for(item of navigation; track $index){
    @if(!item.authRequired){
    <a [routerLink]="item.href" [ngClass]="{'active': isActivePage(item.href)}">
      {{ item.name }}
    </a>
    }
    }
  </div>

  @if(true){
  <div class="navbar__actions hide-on-mobile">
    <button mat-button>
      <mat-icon>person</mat-icon>
      {{ "Steven Medina" }}
    </button>
    <button mat-stroked-button color="accent" (click)="logout()">Cerrar Sesión</button>
  </div>
  } @else {
  <ng-container *ngTemplateOutlet="guestLinks"></ng-container>
  }

  <ng-template #guestLinks>
    <button mat-stroked-button (click)="navigateTo('/login')">Iniciar Sesión</button>
    <button mat-stroked-button color="accent" (click)="navigateTo('/register')">Registrarse</button>
  </ng-template>

  <button mat-icon-button class="show-on-mobile" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
</mat-toolbar>

@if(isMenuOpen){
<div class="navbar__mobile">
  <div class="navbar__mobile-links">
    <a *ngFor="let item of navigation" (click)="navigateTo(item.href)" [ngClass]="{'active': isActivePage(item.href)}">
      {{ item.name }}
    </a>

    <div class="navbar__mobile-auth">
      <ng-container>
        <a (click)="logout()">
          Cerrar Sesión
        </a>
      </ng-container>
      <ng-template #mobileGuest>
        <button mat-button class="full-width" (click)="navigateTo('/login')">Iniciar Sesión</button>
        <button mat-raised-button color="accent" class="full-width" (click)="navigateTo('/register')">
          Registrarse
        </button>
      </ng-template>
    </div>
  </div>
</div>
}
