<mat-toolbar class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="navbar__logo" (click)="navigateTo('/')">
    <div class="navbar__logo-icon">
      <mat-icon>fitness_center</mat-icon>
    </div>
    <span class="navbar__logo-text">FitZone</span>
  </div>

  <div class="navbar__links hide-on-mobile">
    @for(item of navigation; track $index){
    @if(!item.authRequired){
    <a [routerLink]="item.href" [ngClass]="{'active': isActivePage(item.href)}">
      {{ item.name }}
    </a>
    }
    }
  </div>

  @if(isLoggedIn()){
  <div class="navbar__actions hide-on-mobile">
    <button mat-button type="button">
      <mat-icon>person</mat-icon>
      {{ user()?.name }}
    </button>
    <button mat-stroked-button color="primary" type="button" (click)="logout()">Cerrar Sesión</button>
  </div>
  } @else {
  <ng-container *ngTemplateOutlet="guestLinks"></ng-container>
  }

  <ng-template #guestLinks>
    <div class="buttons hide-on-mobile">
      <button mat-stroked-button color="primary" type="button" (click)="navigateTo('/auth/login')">Iniciar Sesión</button>
      <button mat-flat-button type="button" (click)="navigateTo('/auth/register')">Registrarse</button>
    </div>
  </ng-template>

  <button mat-icon-button class="show-on-mobile" type="button" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
</mat-toolbar>

@if(isMenuOpen){
<div class="navbar__mobile">
  <div class="navbar__mobile-links">
    <a *ngFor="let item of navigation" (click)="navigateTo(item.href)" [ngClass]="{'active': isActivePage(item.href)}">
      {{ item.name }}
    </a>

    <div class="navbar__mobile-auth">
      @if(isLoggedIn()){
      <button mat-stroked-button color="primary" type="button" (click)="logout()">
        Cerrar Sesión
      </button>
      } @else {
      <div class="buttons">
        <button mat-stroked-button color="primary" type="button" (click)="navigateTo('/auth/login')">Iniciar Sesión</button>
        <button mat-flat-button type="button" (click)="navigateTo('/auth/register')">
          Registrarse
        </button>
      </div>
      }
    </div>
  </div>
</div>
}
