<div class="page">
  <app-banner />
  <div class="promo-wrapper">
    <img
      src="assets/images/promo-month.svg"
      alt="Este mes está lleno de promociones, regístrate y gana"
      class="promo-banner"
      width="1200"
      height="160"
      loading="lazy"
    />
  </div>
  <section class="section section-gradient-card">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">
          Descubre Nuestras
          <span class="gradient-primary text-gradient">
            Clases Populares
          </span>
        </h2>
        <p class="section-description">
          Entrenamientos diseñados para todos los niveles con instructores especializados
        </p>
      </div>

      <div class="cards-grid-3 mb-large">
        @for (fitnessClass of featuredClasses(); track fitnessClass.id) {
        <app-class-card [fitnessClass]="fitnessClass" (reserve)="handleReserveClass($event)">
        </app-class-card>
        }
      </div>

      <div class="text-center">
        <a routerLink="/classes">
          <button mat-flat-button type="button" (click)="navigateTo('/classes')">
            Ver todas las clases
          </button>
        </a>
      </div>
    </div>
  </section>

  <section class="section section-gradient-card">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">
          Nuestros
          <span class="gradient-primary text-gradient">Centros</span>
        </h2>
        <p class="section-description">
          Instalaciones modernas equipadas con la última tecnología
        </p>
      </div>

      <div class="cards-grid-2">
        @for (center of featuredCenters(); track center.id) {
          <app-center-card [center]="center"></app-center-card>
        }
      </div>

      <div class="text-center mt-medium">
        <a routerLink="/centers">
          <button  mat-flat-button type="button" (click)="navigateTo('/centers')">
            Ver todos los centros
          </button>
        </a>
      </div>
    </div>
  </section>
</div>
